
*{
    margin: 0;
    padding: 0;
}
/*.............
 common styles 
..............*/
body{
    font-family: 'Work Sans', sans-serif;
}
header{
    background: rgba(255, 144, 14, 0.1);
}
.primary-font{
    font-size: 11px;
    font-family: sans-serif;
    font-weight: 500;

}
.primary-font-color{
    color: #585353;
}


/*.................
Navbar Css styles 
..................*/
nav{
    justify-content: space-between;
    display: flex;
}
.left-nav{
    margin-left: 150px;
    padding-top: 30px;
}
.left-nav p{
    color: #131313;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;   
}
.right-nav{
    margin-right: 160px;
    padding-top: 43px;
}
ul{
    display: flex;
}
ul li{
  list-style: none;
  text-align: center;
  padding-left: 40px;

}
ul li a{
    text-decoration: none;
    
}


/*..............
 Heading styles
 ..............*/
.header-details{
    height:100%;
    padding-top:60px;
}

.header-title{
    font-family: 'Work Sans';
    font-style: normal;
    font-size: 44px;
    text-align: center;

}
.header-subtitle{
    padding-top: 11px;
    font-size: 13px;
    color: #727272;
    text-align: center;
}
.btn-primary-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 21px 0px
}
.btn-primary{
    color: white;
    background-color: #ff832c;
    border: none;
    padding: 14px 17px;
    border-radius: 7px;
}
.bannar{
    padding-top: 10px;
    justify-content: center;
    display: flex;
    padding-bottom: 25px;

}
.bannar-img{
    width: 950px;
}


/*....................
 Feature section styles
 ....................*/
.features{
    margin-top: 40px;
}
.quick-feature{
    display: flex; 

}
.quick-feature-img{
    margin-left: 120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
    height: 400px;
    width:400px ;
}
.quick-feature-box img{
    height: 200px;
    width: 200px;
}
.quick-feature-details{
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#quick-list{
    color: #605e5e;
}
#feature-span{
    color: #ff832c;
}
.quick-feature-title{
    padding-left: 4px;
    font-size: 35px;
}
.quick-feature-subtitle{
    padding-top: 10px;
}
.btn-secondary{
    width: 120px;
    height: 47px;
    border-radius: 6px;
    color: white;
    background-color: #ff832c;
    border: none;
}
.feature-types{
    display: flex;
    padding-left: 100px;
    padding-top: 80px;
    justify-content: space-between;

}
.right-feature{
    width: 50%;
    display: flex;
    flex-direction: column-reverse;
}
.right-feature img{
    height:500px ;
    width:400px ;
}
.experience{
    position: absolute;
    color: white;
    background-color: #ff832c;
    border: none;
    padding: 21px 15px;
    margin: -31px -48px;
    border-radius: 13px;
    font-size: 30px;
}
.left-feature{

    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.left-feature-title{
    font-size: 30px;
    border-left: 5px solid #ff7c11;
    padding-left: 10px;
}
.feature-box-title{
    color: #131313;
}
.feature-box{
    border: 0.5px solid #f0efef;
    padding: 5px 30px;
}


/*................
 facts section css 
 ................*/
.facts{
    padding-top: 130px;
    height: 100%;
    padding-bottom: 60px;
}
.facts-title{
    padding-left: 100px;
    color: #131313;
    padding-bottom: 10px;
}
.facts-subtitle{
    padding-left: 100px;
    font-size:14px;
    padding-bottom: 40px;
}
.boxs{
    display: flex;
    justify-content:center;
    padding-bottom: 35px;
    padding-top: 15px;
    justify-content: space-evenly;
}
.box{
    border: 1px solid orange;
    height: 140px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
  
}

.box:hover{
    border: 1px solid rgb(0, 136, 255);
    background-color: #e1d4d4;
    border-radius: 8px;
    cursor: pointer;
}

.logo img{
    width: 27px;
}
.logo-details{
    font-size: 12px;
}
.number{
    font-size: 30px;
}


/*.................. 
sponsor section css
...................*/
.sponsors-container{
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 25px;
}

.sponsors-title{
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-bottom: 15px;
}
.sponsors-subtitle{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;
}
.sponsors{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.sponsor img{
    height: 30px;
    padding-left: 70px;
    padding-right: 65px;
    
}


/*.................
 extra section css 
 ..................*/
.extra-section{
    padding: 23px;
    border-radius: 27px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #e1dede;
}
.extra-section-heading{
    font-size: 40px;
    padding: 20px 0px;
    text-align: center;
    border: 1px solid #ffebeb;
    padding: 7px 11px;
    border-radius: 10px;
    color: #9c0bff;
    background-color: #e5e5e5;

}

.form-group input{
    text-align: center;
    display: block;
    width: 250px;
    padding: 2px;
    border: 1px solid black;
    margin: 4px auto;
    font-size: 13px;
    border-radius: 10px
}
.form-group input:hover{
    background-color: rgb(234, 226, 226);
    cursor: pointer;  
}

.ex-heading{
    text-align: center;
    font-size: 15px;
}
.btn{
    display: flex;
    justify-content: center;
    padding-top: 17px;
    padding-bottom: 30px;
}
.btn-submit{
    padding: 13px 29px;
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 15px;
    background-color: #ff7c20;
}


/*...................
rights section styles
..................... */
.rights-section{
    display: flex;
    justify-content: center;
    height: 150px;
    padding-top: 55px;
}
.rights-div{
    width: 700px;
    height: 50px;
}
 .rights{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 50px;
    border-radius: 5px;
 }

 /* -------------
 Media Queries
 ------------- */

 /* Mobile screen */
 @media only screen and (max-width:576px){
    header, .header-details{
        display: flex;
        flex-direction: column;
    }

    .bannar-img{
        width: 100%;
    }
    .sponsors-container, .feature-types{
        display: none;
    }
    nav{
        display: flex;
        flex-direction: column-reverse;
        align-items: center
    }
    .left-nav{
        margin-left: 10px;
        padding-top: 36px;
        font-size: 10px;
        
    }
    .right-nav{
        margin-right: 10px;
        padding-top: 12px;
        font-size: 13px;
    }
    ul li{
        list-style: none;
        text-align: center;
        padding-left: 6px;
        font-size: 8px;
        padding-right: 3px;
      
      }
      .quick-feature-img{

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2px;
        width:100% ;
        height: 100%;
 
    }
    .quick-feature-details{
        display: none;
    }
    .left-feature{
        width: 100%;
    }



 }
 